@model IEnumerable<wsdsdata.Models.Product>
<div class="panel panel-primary">
    <div class="panel-heading">Products</div>
    <table class="table table-striped">
        <tr><th>ID</th><th>Name</th><th>IdManufacturer</th></tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.NAME</td>
                <td>@p.ID_MANUFACTURER</td>
            </tr>
        }
    </table>
</div>